body {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

#header,
#middle,
#footer {
  position: absolute;
  width: 100%;
}

#header {
  background: #000000;
  height: 20%;
  top: 5px;
  left: 5px;
}

.logo {
  background: #121212;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  width: 15%;
  height: 100%;
}

.logo-img {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  padding-top: 15px;
}

.header-banner {
  margin: 5px;
  margin-left: 16%;
  padding: 5px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

.main-search {
  padding: 50px;
  padding-left: 500px;
}

#middle {
  background: #000000;
  top: 130px;
  bottom: 20px;
  left: 5px;
}

#footer {
  background: #000000;
  height: 20px;
  bottom: 0;
}

.headercontainer {
  background-color: orange;
  text-align: center;
  width: 15%;
}

.label-container {
  background-color: #57acdc;
  margin-left: 16%;
}

.content-align {
  display: inline-block;
}

.content-container {
  background-color: #181818;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  margin: 10px;
}

.content-blob {
  background-color: #181818;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  margin: 10px;
}

.span-header {
  padding-right: 25px;
  color: #ffffff;
}

#left {
  border-radius: 5px;
  background: #121212;
  position: absolute;
  left: 0;
  top: 10px;
  width: 15%;
  height: 100%;
}

.category-links {
  color: #ffffff;
  text-decoration: none;
}

#right {
  background: #000000;
  position: absolute;
  left: 15%;
  top: 0;
  float: right;
  width: 84%;
  height: 100%;
  overflow-y: scroll;
  padding-left: 10px;
}

.span {
  /*if you don't use the word-spacing, you can put spans in between each phrase and add a padding-right */
  padding-right: 100px;
}

.link {
  color: #ffffff;
}

.link:hover {
  background-color: #424242;
}

.jumplink {
  color: #ffffff;
}

.star {
  padding-right: 5px;
  padding-bottom: 6px;
  vertical-align: middle;
}
