body {
  background-color: #fafafa;
}

.headercontainer {
  background-color: #5758ba;
}

.headertext {
  text-align: center;
  color: #ffffff;
}

.whitetext {
  color: #ffffff;
}

.filmcontainer {
  background-color: #5758ba;
  padding: 5px;
  margin: 50 px;
  min-height: 175px;
}

.dvdcontainer {
  background-color: #006699;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  position: relative;
  border: 1px solid #111;
}

.dvd {
  width: 200px;
  height: 120px;
  position: absolute;
  -webkit-animation: moveX 2s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 2s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 2s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  animation: moveX 2s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 300px;
  }
}
@-moz-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 300px;
  }
}
@-o-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 300px;
  }
}
@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 300px;
  }
}

@-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 180px;
  }
}
@-moz-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 180px;
  }
}
@-o-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 180px;
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 180px;
  }
}

span { /*if you don't use the word-spacing, you can put spans in between each phrase and add a padding-right */
  padding-right: 100px;
  }